.width4#flashes
    - if flash[:success] || flash[:error]
        - if flash[:success]
            #success
                %p.success
                    = flash[:success]
        - if flash[:error]
            #error
                %p.error
                    = flash[:error]
