/* Background */
#page {background: url("/images/ricepaper2.png") repeat scroll 0 0 transparent;}
#main-content {background-color: white; padding:50px; min-width:1000px}

/* Text */
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;color:#333; line-height:1.7em;}
p{padding-top:0.7em;padding-bottom:0.7em;}

/* Search */
#intro {max-width:400px;}
.intro-text {color:gray;}

/* Elements */
header, section {padding-bottom:0px;}
#footer {padding-top:20px;}
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 1px dotted #555; border-width: 0 0 1px 0; margin: 10px 10px 10px 0px;}

/* Headings */
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
padding-bottom:.25em;padding-top:0.25em;margin-right:2em;letter-spacing:0px;color:#444;line-height:1.2em;}
h1, .h1{font-size:156%; font-weight:bold; font-style: normal;}
h2, .h2{font-size:138%; font-weight:bold; font-style: normal;}
h3, .h3{font-size:128%; font-weight:bold; font-style: normal;}
h4, .h4{font-size:123.1%; font-weight:bold; font-style: normal;}
h5, .h5{font-size:108%; font-weight:normal; font-style: normal;}
h6, .h6{font-size:108%; font-weight:normal; font-style: italic;}

/* links */
h1 > a:focus, h1 > a:hover, h2 > a:focus, h2 > a:hover, h3 > a:focus, h3 > a:hover {color: #333; text-decoration: underline;}
nav * a, h1 > a, h1 > a:visited, h2 > a, h2 > a:visited, h3 > a, h3 > a:visited {color: #444; text-decoration: underline;}

/* Forms */
input.searchbox{padding:10px;margin-top:5px;margin-bottom:5px;margin-right:10px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:2px solid #888; background:#FFFFEB;font-size:18px;min-width:400px}

/* Flashes */
div#flashes {min-height:30px;}
.error {color:red}
.success {color:green}

/* Results */
div.rank_options {padding-bottom:10px;padding-top:0px;}
div#permalink {padding-top:40px;}
p.permalink {color:#444;font-size:14px;}
div.winner {background-color:#C3FFDD;}
div#outcome {margin:50px;margin-top:2px;}
.result_title {font-size:19px;font-weight:normal;padding-bottom:10px;}
#back_to_top {text-align:right; float:right;}

/* Handlers */
#handler_name_wrapper {min-height:90px;}
.handler_request {color:gray;font-family:"Monaco","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:14px;}

/* Tables */
table {clear: both; margin: 0 auto; width: 100%;}
.odd {background:#C3FFDD;}
.even {background:#ddd;}
thead {font-weight: bold;}
th, td {padding:4px;}
.dataTables_info {font-size:13px; color:333;}
.dataTables_filter {float:right; margin-bottom:10px; font-size:13px;}
#search_history_filter {padding-right:10px;}
th.sorting_desc {background:#FBFFAC;}
th.sorting_asc {background:#FBFFAC;}
#active_handlers_filter, #inactive_handlers_filter {padding:5px;}
