/* Elements */
body{font-size:16px;color:#333; line-height:1.7em;}
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 1px dotted #555; border-width: 0 0 1px 0; margin: 10px 10px 10px 0px;}


/* Forms */
input.searchbox{padding:10px;margin-top:5px;margin-bottom:5px;}
.searchbox{margin-right:10px;}


/* Flashes */
div#flashes {min-height:30px;}
.error {color:red}
.success {color:green}

/* results */
div.rank_options {padding-bottom:20px;padding-top:10px;}
div#permalink {padding-top:60px;}
p.permalink, .outcome_info {color:#444;font-size:14px;}
div.winner {background-color:#C3FFDD;}
div#outcome {margin:50px;margin-top:2px;}


/* tables */


table {clear: both; margin: 0 auto; width: 100%;}
.odd {background:#C3FFDD;}
.even {background:#ddd;}
thead {font-weight: bold;}
th, td {padding:4px;}
.dataTables_info {font-size:13px; color:333;}
.dataTables_filter {float:right; margin-bottom:10px; font-size:13px;}
th.sorting_desc {background:#FBFFAC;}
th.sorting_asc {background:#FBFFAC;}
#active_handlers_filter, #inactive_handlers_filter {padding:5px;}
