%form(id='search' method='post' action='/compare')
    %input(name='query_term' type='text' title='Search...' class='searchbox')
    
    %input(name='user' type='hidden' value='')
    
    %button(type='submit')
        Search
