%form(id='search' method='post' action='/compare')
    %input(name='query_term' type='text' title='#{misc_text[:search_box]}' class='searchbox')
    
    %button(type='submit' id='search-button')
        Go
