%div(class='column width1 first rank_options')
    = haml :'results/rank_button', :locals => {:handler => @results[0][:handler], :text => 'Much better', :score => settings.super_score}

%div(class='column width1 rank_options')
    = haml :'results/rank_button', :locals => {:handler => @results[0][:handler], :text => 'Better', :score => settings.base_score}

%div(class='column width1 rank_options')
    = haml :'results/rank_button', :locals => {:handler => @results[1][:handler], :text => 'Better', :score => settings.base_score}

%div(class='column width1 rank_options')  
    = haml :'results/rank_button', :locals => {:handler => @results[1][:handler], :text => 'Much better', :score => settings.super_score}
