%div(class='column width1 first rank_options')
    = haml :'results/rank_button', :locals => { |
              :winner => @results[:a][:handler], |
              :loser => @results[:b][:handler], |
              :text => 'Much better', |
              :score => settings.super_score}

%div(class='column width1 rank_options')
    = haml :'results/rank_button', :locals => { |
              :winner => @results[:a][:handler], |
              :loser => @results[:b][:handler], |
              :text => 'Better', |
              :score => settings.base_score}

%div(class='column width1 rank_options')
    = haml :'results/rank_button', :locals => { |
              :winner => @results[:b][:handler], |
              :loser => @results[:a][:handler], |
              :text => 'Better', |
              :score => settings.base_score}

%div(class='column width1 rank_options')  
    = haml :'results/rank_button', :locals => { |
              :winner => @results[:b][:handler], |
              :loser => @results[:a][:handler], |
              :text => 'Much better', |
              :score => settings.super_score}
